.mobile-menu-icon {
    display: none;
    margin: 25px;
}

.menu-mobile-fundo {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 2;
}

.mobile-menu {
    position: fixed;
    top: 0;
    max-width: 300px;
    height: 100vh;
    left: 0;
    padding: 40px;
    background-color: white;
    z-index: 2;
    top: 0;
    transition: 0.4s ease-in-out;
    transform: translateX(-330px);
    visibility: hidden;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    
}

.mobile-menu ul li {
    padding: 1rem 0;
}

.mobile-menu ul li a {
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.2s;
    border-radius: 5rem;
    letter-spacing: 1px;
}

.mobile-menu ul li a:hover {
    background-color: var(--cor-primaria);
}

.active-menu {
    pointer-events: all;
    opacity: 0.8;
}

.active-fundo {
    visibility: visible;
    transform: translateX(0px);
}